{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
        <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Sold/Bought</th>
              <th scope="col">Shares</th>
              <th scope="col">Price</th>
              <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <th scope="row">{{ row["symbol"] }}</th>
                    {% if row["shares"] < 0 %}
                        <th scope="row">SOLD</th>
                    {% else %}
                        <th scope="row">BOUGHT</th>
                    {% endif %}
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price"] | usd }}</td>
                    <td>{{ row["transacted"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
